@import url(./results-container.css);
@import url(./results__button.css);
@import url(./results__cards.css);
@import url(./results__find.css);
@import url(./results__title.css);
@import url(./__preloader/results__preloader.css);
@import url(./__notfound/results__notfound.css);
@import url(./__card/results__card.css);

.results {
	max-width: 100vw;
	background: #F5F6F7;
	margin: 0 auto;
}

