.results__author {
	font-family: Roboto Slab, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding: 18px 0 0 24px;
	color: #B6BCBF;
}

@media (min-width: 600px) and (max-width: 1279px) {
	.results__author{
		padding: 12px 0 16px 16px;
	}
}

@media (max-width:600px) {
	.results__author{
		padding: 8px 0 17px 16px;
	}
}