.about__title {
	font-family: Roboto Slab, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 46px;
	max-width: 496px;
	color: #1A1B22;
}

@media (max-width: 1279px) {
  .about__title {
    max-width: 424px;
		font-size: 30px;
		line-height: 40px;
  }
}

