@import url(./about__title.css);
@import url(./about__subtitle.css);
@import url(./about__info.css);
@import url(./about__avatar.css);

.about {
	max-height: 624px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

@media (max-width:600px) {
	.about {
		flex-direction: column;
		max-height: 752px;
	}
}