.articles__save {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: rgba(26, 27, 34, 0.5);
	margin: 40px 0 28px 104px;
}

@media (min-width: 766px) and (max-width: 1023px) {
  	.articles__save {
		margin: 24px 0 16px 40px;
		font-size: 14px;
	}
}

@media (max-width:600px) {
  	.articles__save {
		margin: 8px 0 16px 16px;
		font-size: 12px;
	}
}