.popup__footer {
	width: 226px;
	margin: 16px auto 0;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #000000;
}

.popup__footer_signin {
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #2F71E5;
	border: none;
	background: none;
}

.popup__footer_signin:hover {
  opacity: 0.7;
  cursor: pointer;
}

.popup__footer_blue {
	font-size: 14px;
	line-height: 17px;
}