.articles__info_subtitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #1A1B22;
	margin: 0 0 54px 104px;
}

@media (min-width: 766px) and (max-width: 1023px) {
  	.articles__info_subtitle {
		margin: 0 0 32px 40px;
		font-size: 14px;
	}
}

@media (max-width:600px) {
  	.articles__info_subtitle {
		margin: 0 0 32px 16px;
	}
}