.header__menu_active {
	margin-top: 30px; 
	height: 50px;
	border-bottom: 2px  #FFF solid;
}

.header__menu_active_black {
	margin-top: 30px; 
	height: 50px;
	border-bottom: 2px  #1A1B22 solid;
}

@media (min-width: 766px) and (max-width: 1023px) {
  	.header__menu_active {
		margin-top: 23px; 
		height: 43px;
	}

	.header__menu_active_black {
		margin-top: 23px; 
		height: 43px;
	}
}

@media (max-width:600px) {
  	.header {
		max-width:600px
  	}
  	.header__menu_active {
		border-bottom: none; 
	}
}