.header__burger-button {
	display: none;
	z-index: 2;
}

@media (max-width:650px) {
  .header__burger-button {
  	width: 24px;
  	height: 24px;
  	border: none;
		display: block;
		background: url(../../images/menu.svg);
  }

  .header__burger-button_black {
		background: url(../../images/menu_black.svg);
  }

  .header__burger-button_close {
		background: url(../../images/close.svg);
		background-size: cover;
  }
}