@import url(./vendor/fonts.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/header/header.css);
@import url(./blocks/page/page.css);
@import url(./blocks/results/results.css);
@import url(./blocks/search/search.css);
@import url(./blocks/about/about.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/articles__info/articles__info.css);


p,h1,h2,h3,h4{
    margin: 0;

}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
	cursor: pointer;
}

.disabled{
	display: none;
}

.text__bold {
	font-weight: 650;
}

.black {
	color: black;
}
