@import url(./results__card_author.css);
@import url(./results__card_collection.css);
@import url(./results__card_data.css);
@import url(./results__card_description.css);
@import url(./results__card_image.css);
@import url(./results__card_notice.css);
@import url(./results__card_class.css);
@import url(./results__card_title.css);
@import url(./results__card_text.css);

.results__card {
	width: 400px;
	min-height: 576px;
}

@media (min-width: 600px) and (max-width: 1279px) {
	.results__card {
		width: 224px;
		min-height: 420px;
	}
}

@media (max-width:600px) {
	.results__card {
		width: 288px;
		min-height: 440px;
	}
}
