.results__card_collection {
	width: 40px;
	height: 40px;
	background: url(../../../images/collection__button_disabled.png) 50% no-repeat;
	border: none;
	margin: 24px 24px 0 0;
}

.results__card_collection:hover {
	cursor: pointer;
	background: url(../../../images/collection_button.svg) 50% no-repeat;
}

.results__card_collection_delete {
	background: url(../../../images/icon__delete.svg) 50% no-repeat;
}

.results__card_collection_delete:hover {
	background: url(../../../images/icon__delete_active.svg) 50% no-repeat;
}

.results__card_collection_add {
	background: url(../../../images/collection__add.svg);
}

@media (min-width: 600px) and (max-width: 1279px) {
  .results__card_collection {
		margin: 8px 8px 0 0;
 }
}

@media (max-width:600px) {
  .results {
	max-width:600px
  }
}